@charset "utf-8";
html,body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #f6f6f6;
    color: #333;
    font-size: 14px;
    font-family: "微软雅黑","宋体";
}
ul,ol,li,dl,dt,dd{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
p{
    margin: 0;
    padding: 0;
}
a,a:hover{
    text-decoration: none;
    color: #333333;
}
.containers{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    min-height: 600px;
    border: none;
    background-color: #f6f6f6;
}
.containers .head{
    clear: both;
    width: 100%;
    height: 59px;
    min-width: 1200px;
    border-bottom: 1px solid #243142;
    background: -webkit-linear-gradient(#3c4d64, #324257);
    background: -o-linear-gradient(#3c4d64, #324257);
    background: -moz-linear-gradient(#3c4d64, #324257);
    background: linear-gradient(#3c4d64, #324257);
}
.containers .head .left{
    float: left;
    width: 450px;
}
.containers .head .left img{
    padding: 15px 0 0 35px;
}
.containers .head .right{
    float: right;
    padding-right:5px;
    background: url("../images/top-right.png") top right no-repeat;
    position: relative;
    top: 10px;
    right: 20px;
}
.containers .head .right .right-box{
    padding-left: 5px;
    background: url("../images/top-left.png") top left no-repeat;
}
.containers .head .right .right-inner{
    height: 40px;
    background: url("../images/top-mid.jpg") top center repeat-x;
}
.containers .head .right .user{
    display: inline-block;
    height: 40px;
    border-right: 1px solid #1f313d;
}
.containers .head .right .user .user-icon{
    float: left;
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../images/top-user.png") center center no-repeat;
}
.containers .head .right .user .user-info{
    float: left;
    height: 40px;

    color: #ffffff;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    padding: 0 15px 0 8px;
    display: inline-block;
}
.containers .head .right .logout{
    display:inline-block;
    width: 55px;
    height: 38px;
    background: url("../images/top-close.png") center center no-repeat;
}
.containers .head .right .logout:hover{
    background: url("../images/top-close-02.png") center center no-repeat;
}
.containers .box{
    min-height: 800px;
    padding-left: 245px;
    padding-right: 15px;
    margin: 0 auto;
    overflow: hidden;
}
.containers .box .aside,.containers .box .content{
    float: left;
    margin-bottom: -9999px;
    padding-bottom: 9999px;
}
.containers .box .aside{
    position: relative;
    width:230px;
    min-height: 800px;
    left: -248px;
    margin-left: -100%;
    background-color: #324157;
}
.containers .box .content{
    width: 100%;
    margin-top: 15px;
    min-height: 800px;
}
.containers .box .content .main{
    height: auto;
    min-height: 700px;
    background-color: transparent;
}
.containers .box .content .main .nav{
    color: #a0a0a0;
    font-size: 12px;
    margin-bottom: 15px;
}
.containers .box .content .bottom{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #afafaf;
    font-size: 10px;
    line-height: 100px;
}
:-moz-placeholder {
    color: #b9b9b9;
}
::-moz-placeholder {
    color: #b9b9b9;
}
input:-ms-input-placeholder{
    color: #b9b9b9;
}
input::-webkit-input-placeholder{
    color: #b9b9b9;
}
textarea:-ms-input-placeholder{
    color: #b9b9b9;
}
textarea::-webkit-input-placeholder{
    color: #b9b9b9;
}

/*form-common-begin*/
.btn-small{
    padding: 0 15px;
    min-width: 80px;
    height: 24px;
    background-color: #ffffff;
    color: #007bc4;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #007bc4;
    outline: none;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.btn-small:hover{
    background-color: #007bc4;
    color: #ffffff;
}
.btn-large{
    width: 112px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #333333;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}
.btn-large:hover{
    background-color: #007bc4;
    border-color: #007bc4;
    color: #ffffff;
}
.btn-search{
    width: 120px;
    height: 34px;
    background-color: #007bc4;
    color: #ffffff;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #007bc4;
    outline: none;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.btn-search:hover{
    background-color: #046dac;
}
.btn-defined{
    padding: 0 15px;
    width: 120px;
    height: 30px;
    background-color: #ffffff;
    color: #007bc4;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #007bc4;
    outline: none;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.btn-defined:hover{
    background-color: #007bc4;
    color: #ffffff;
}
.btn-common{
    width: 120px;
    height: 30px;
    background-color: #ffffff;
    color: #666666;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #d6d6d6;
    outline: none;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.btn-common:hover{
    background-color: #eaeaea;
}
.btn-submit{
    width: 120px;
    height: 30px;
    background-color: #007bc4;
    color: #ffffff;
    font-size: 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #007bc4;
    outline: none;
    line-height: 22px;
    text-align: center;
    cursor: pointer;
}
.btn-submit:hover{
    background-color: #046dac;
}
.btn-del{
    width: 28px;
    height: 28px;
    background: #ffffff url("../images/icon-del.png") center center no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #d6d6d6;
    outline: none;
    cursor: pointer;
    position: relative;
    top: 6px;
}
.btn-del:hover{
    background-color: #eaeaea;
}
.btn-file{
    width: 192px;
    height: 32px;
    background-color: #fcc90c;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;;

    color: #ffffff;
    font-size: 14px;
    line-height: 30px;
    text-align: center;

    outline: none;
    border: 0;
    cursor: pointer;
}
.txt-common{
    width: 140px;
    height: 30px;
    border:1px solid #d6d6d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #b9b9b9;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 5px;
    padding-left: 10px;
}
.txt-area{
    width: 160px;
    height: 135px;
    border:1px solid #d6d6d6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #b9b9b9;
    font-size: 14px;
    padding: 10px 15px;
}
select.txt-common{
    height: 34px;
}
/*form-common-end*/

/*common-begin*/
.clear{
    clear: both;
    height: 0;
    font-size: 0;
}
.line{
    clear: both;
    height: 2px;
    background-color: #f6f6f6;
    margin-bottom: 10px;
}
.main-search{
    min-height: 30px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #fff;

    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.main-search .search-item{
    float: left;
    min-width: 190px;
    margin-right: 10px;
}
.main-search .search-item span.item-left{
    color: #333333;
    font-size: 14px;
    margin-right: 5px;
}
.main-table{
    min-height: 300px;
    background-color: #fff;
    padding: 15px;
}
.main-table .table-msg{
    overflow: hidden;
    margin-bottom: 10px;
}
.main-table .table-msg .msg-left{
    float: left;
    width: 40%;
    text-align: left;
}
.main-table .table-msg .msg-left p{
    color: #999999;
    font-size: 14px;
    line-height: 20px;
}
.main-table .table-msg .msg-left p span{
    color: #007bc4;
    font-weight: 600;
    margin: 0 2px;
}
.main-table .table-msg .msg-right{
    float: right;
    width: 50%;
    text-align: right;
}
.main-table table{
    width: 100%;
    color: #666666;
    font-size: 14px;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid #eaeaea;
    border-left: 1px solid #eaeaea;
}
.main-table table tr td{
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}
.main-table table thead{
    color: #333333;
    font-weight: 600;
}
.main-table table tbody tr:nth-child(2n){
    background-color: #f8fcff;
}
.main-table table tbody tr:hover{
    background-color: #f6f6f6;
}
.main-table table tbody tr input[type=checkbox]{
    position: relative;
    top: 1px;
}
.main-table table tbody tr a{
    color: #007bc4;
    margin-right: 10px;
}
.main-table table tbody tr a:last-child{
    margin-right: 0;
}
.main-table .table-pager{
    height: 45px;
    margin-top: 20px;
    color: #c9c7c7;
    font-size: 12px;
}
.main-table .table-pager .pager-left{
    float: left;
    width: 200px;
}
.main-table .table-pager .pager-left select{
    color: #c9c7c7;
    font-size: 12px;
    border:1px solid #eaeaea;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.main-table .table-pager .pager-right{
    float: right;
    width: 600px;
    text-align: right;
}
.main-table .pager-box{
    display: inline-block;
    height: 20px;
    margin: 0;
    padding: 0;
    color: #666666;
    font-size: 12px;
    text-align: center;
}
.main-table .pager-box ul,
.main-table .pager-box ul li{
    float: left;
}
.main-table .pager-box ul li a,
.main-table .pager-box input,
.main-table .pager-box button{
    display: inline-block;
    height: 22px;
    border:1px solid #b5b5b5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    padding: 0 12px;
    margin-right: 10px;
    color: #333;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}
.main-table .pager-box ul li a.disabled{
    color: #b5b5b5;
    cursor: no-drop;
}
.main-table .pager-box ul li a.current,
.main-table .pager-box button{
    color: #ffffff;
    border-color: #007bc4;
    background-color: #007bc4;
}
.main-table .pager-box span{
    color: #5f5f5f;
    line-height: 22px;
    margin-right: 5px;
}
.main-table .pager-box input{
    padding: 0;
    width: 40px;
}
.main-table .pager-box .btn-com{
    height: 24px;
    margin-right: 0px;
}
.main-edit{
    min-height: 300px;
    background-color: #fff;
    padding: 15px;
}
.main-edit h6{
    color: #007bc4;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    padding: 0;
    margin: 25px 0 30px;
}
.main-edit h6 span{
    display: inline-block;
    width: 2px;
    height: 16px;
    background-color: #007bc4;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.main-edit .info-item{
    clear: both;
    margin-bottom: 10px;
}
.main-edit .info-item .item-left{
    width: 100px;
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: right;
}
.main-edit .info-item .item-left.font-black{
    color: #333;
}
.main-edit .info-item .item-left span{
    color: #ff0000;
    margin-right: 6px;
    position: relative;
    top: 2px;
}
.main-edit .info-item .item-right{
    color: #333333;
    font-size: 14px;
    display: inline-block;
}
.main-edit .info-item .item-right a
{
    color: #007bc4;
}
.main-edit .info-item .item-right .txt-common,
.main-edit .info-item .item-right .txt-area{
    color: #b9b9b9;
    width: 360px;
}
.main-edit .info-item .item-right .txt-small{
    width: 240px;
}
.main-edit .info-item .item-right .txt-small-x{
    width: 120px;
}
.main-edit .label-list{
    clear: both;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.main-edit .label-list li{
    float: left;

    min-width: 100px;
    height: 28px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    border:1px solid #eeeeee;
    background-color: #eeeeee;

    color: #333333;
    font-size: 12px;
    line-height: 26px;
    text-align: center;

    margin-right: 8px;
    margin-bottom: 15px;
    padding: 0 15px;

    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    cursor: pointer;
}
.main-edit .label-list li.checked{
    border:1px solid #007bc4;
    background-color: #007bc4;
    color: #ffffff;
}
.main-edit .edit-btn-list{
    height: 60px;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #eaeaea;
}
.main-edit .edit-btn-list.no-line{
    border-top: 0;
}
.main-edit .edit-btn-list button{
    margin-right: 15px;
}
.main-edit .edit-btn-list button:last-child{
    margin-right: 0;
}
/*common-end*/
